body {
  background-color: #f9f9f9;
  color: #111;
  font: 12pt/14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 5%;
  width: 90%;
  max-width: 1200px;
}

a:link, a:visited, a:active {
  text-decoration: none;
  background-color: transparent;
}

#container {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

#selector {
  width: 250px;
  margin-top: 1em;
  padding: 0;
  line-height: 1.55em;
}

#form {
  position: relative;
}

.noresults #selector {
  margin: 50px 0;
  width: 90%;
}

.noresults input#search {
  margin: 0 15%;
  width: 70%;
}

.start {
    margin: 3em 15%;
    width: 70%;
    text-align: center;
    color: #666;
}

.results .start {
    display: none;
}

#main {
  flex: 1;
  margin: 6em 1em 0 50px;
  padding: 0;
}

#count {
  color: #999;
  font-size: 75%;
}

#rfc-list {
  padding-bottom: 6em;
}

ul {
  padding-left: 0.75em;
}

li {
  line-height: 1.55em;
}

.noresults #main {
  display: none;
  flex: 0;
}

.noresults .tags {
  width: 60%;
  margin: 0 auto 1em auto;
}

input#search {
  width: 100%;
  font-size: 20px;
}

.obsolete {
  font-size: 85%;
}

.noresults .obsolete {
  display: none;
}

.tag, .tag-active {
  display: inline;
  padding: .25em .6em;
  font-size: 75%;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  filter: none;
}

.tag-active {
  filter: hue-rotate(180deg);
}

li .tag {
  margin: 0 0 0 .75em;
}

h1 {
  width: 100%;
  font-size: 300%;
  text-align: center;
  margin: 1em 0;
  cursor: pointer;
  user-select:none;
}

h1 .dot {
  color: #c9bc38;
}

h1 .fyi {
  color: #b4b4b4;
}

h2 {
  font-size: 14pt;
  display: none;
}

#delete {
  position: absolute;
  font-size: 18px;
  top: 6px;
  right: 4%;
  z-index: 100;
  cursor: pointer;
  user-select:none;
  color: #c99;
}

.noresults #delete {
  top: 4px;
  right: 15.8%;
}

.footer {
  position: absolute;
  bottom: 50px;
  width: 100%;
  text-align: center;
}

.noresults .footer {
  bottom: 100px;
}

.octicon {
  fill: #aaa;
}

.reference {
  color: black;
}

.refcount {
  color: #999;
  font-size: 75%;
  margin-left: 1em;
  white-space: nowrap;
}

@media all and (max-width: 800px) {
  #container {
    flex-direction: column;
  }

  #main {
    margin: 2em 0 0 0;
  }

  #selector {
    width: 100%;
  }

  .noresults input#search {
    width: 100%;
    margin: 0;
  }

  .start, .noresults .tags {
    width: 100%;
    margin: 1em 0;
  }

  #delete {
    top: 6px;
    right: 2%;
  }

  .noresults #delete {
    right: 2%;
  }

  .results .footer {
    display: none;
  }
}

@media all and (min-width: 800px) {
  #selector {
    position: fixed;
    overflow-y: auto;
    height: 100%;
  }

  #shadow {
    width: 250px;
    margin-top: 1em;
    padding: 0;
  }
}
