body {
  background-color: #f9f9f9;
  color: #111;
  font: 12pt/14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 50px;
  max-width: 1250px; 
}

#container {
   display: flex;
}

#selector {
  width: 250px;
  height: 100%;
  margin: 0;
  padding: 0; 
}

#main {
  flex: 1;
  margin: 1em 0 0 50px;
  padding: 0;
}

.tag {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border: 1px solid white;
}