body {
  background-color: #f9f9f9;
  color: #111;
  font: 12pt/14pt "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 1em 5%;
  width: 90%;
  max-width: 1200px;
}

#container {
   display: flex;
   flex-direction: row;
}

#selector {
  width: 250px;
  margin-top: 1em;
  padding: 0;
}

.noresults #selector {
  margin: 50px auto;
  width: 66%;
}

#main {
  flex: 1;
  margin: 1em 1em 0 50px;
  padding: 0;
}

ul {
  padding-left: 0;
}

.noresults #main {
  display: none;
  flex: 0;
}

input#search {
  width: 100%;
  font-size: 20px;
}

.obsolete {
  font-size: 85%;
}

.noresults .obsolete {
  display: none;
}

.tag {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  border: 1.5px solid white;
}

h2 {
    font-size: 14pt;
    display: none;
}

@media all and (max-width: 800px) {
  #container {
    flex-direction: column;
  }

  #main {
    margin-left: 0;
  }

  #selector {
    width: 100%;
  }
}