name: Update rfcs

on:
  push:
    paths:
    - '*.py'
    - 'Makefile'
    - 'update.sh'
  schedule:
    - cron: '41 9 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        ref: main
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Build rfcs.json
      run: |
        make rfcs.json
    - name: Push update
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        ./update.sh
